
.font-link {
  font-family: 'Shantell Sans', cursive;
}

body {
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.marvel-mini-banner {
  width: 100%;
  height: 100px;
  background-image: 'https://www.seekpng.com/png/detail/368-3684995_marvel-logo-marvel-comics.png';
  background-size: auto;
  background-position: center;
}
.nav {
  text-align: center;
}
.img-nav {
  width: 10%;
  height: 10%;
}

.hide {
  display: none;
}
