body {
  background-color: white;
}

#container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(4, 100px);
  grid-gap: 100px, 1em;
  gap: 20px;
}

#gallery-view {
  margin: 10%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.marvel-mini-banner {
  height: 200px;
}

.img-nav {
  width: 10%;
  height: 10%;
}

.hide {
  display: none;
}
