/* The actual timeline (the vertical ruler) */

.font-link {
  font-family: 'Shantell Sans', cursive;
}

h2 {
  color: grey;
  text-align: center;
  font-size: 50px;
 
}

/* h6 {
  color: red;
}

.timeline-container {
  background-image: url("https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-repeat: repeat-x;
  background-size: cover;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* VERTICAL LINE */
/* .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  opacity: 0.2;
} */

/* Container around content */
/* .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
 */
/* Place the container to the left */
/* .left {
  left: 0;
} */

/* Place the container to the right */
/* .right {
  left: 50%;
} */

/* The actual content */
/* .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
 */
/* Make all right containers behave like the left ones */
/* .right {
  left: 0%;
} */
 /* */ 