#container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 30px;
  background-color: white;
  }

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 180px;
  gap: 50px;
}

#gallery-view {
  margin: 10%;
}

img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.hide {
  display: none;
}
